{{ partial "header.html" }}

<!-- Content Section
******************************************-->

<section class="hero is-fullheight">
<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Hi, I'm Alex Giurgiu.
    </h1>
  </div>
  <div class="nav">
      <div class="container">
         <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-active">
            Home
          </a>
          <a class="nav-item">
            Writings
          </a>
          <a class="nav-item">
            Readings
          </a>
          <a class="nav-item">
            About
          </a>
         </div>
      </div>
  </div>
</div>
</section>

{{ partial "footer.html" }}
